#
# ApricotCAD configuration file
#
#
# Supported directives:
# 'state_name'
#
##########################################
##########################################
#
##########################################
############  'state_name'  ##############
#
# State variable/signal name:
#
# 'state_name' '=' <state_variable_name>
# 
# format: 
# <state_variable_name> := [ <process_name> '.'] <state_name>
#
# <process_name> := ( <name> | ('process_'<xyz>))
# where <xyz> is the order of the process in VHDL file starting from 1.
# 
# e.g.:
# state_name = stato
# state_name = PROCESS_1.STATE
# state_name = decoder.STATE
##########################################

state_name = stato
clock_name = clock
reset_name = reset

